@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #000;
  height: 100%;
  width: 100%;
}

canvas {
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 400px);
}