#animation-module-sample-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.example-canvas {
    height: 150px;
    position: relative;
    width: 100%;
}

.example-canvas-large {
    height: 200px;
    margin: 50px 0;
    position: relative;
    width: 100%;
    perspective-origin: center;
}

.square {
    background-color: #2386C8;
    border-radius: 3px;
    height: 50px;
    width: 50px;
}

#animations-ball {
    position: absolute;
    border-radius: 50%;
    top: 0px;
    left: 10px;
}

#animations-ball:hover {
    -moz-animation: BOUNCE 1s alternate infinite cubic-bezier(.05,.57,.58,1.05);
    -o-animation: BOUNCE 1s alternate infinite cubic-bezier(.05,.57,.58,1.05);
    -webkit-animation: BOUNCE 1s alternate infinite cubic-bezier(.05,.57,.58,1.05);
    animation: BOUNCE 1s alternate infinite cubic-bezier(.05,.57,.58,1.05);
}

@-webkit-keyframes BOUNCE {
    0% {
        transform: translateX(0);
        height: 60px;
    }
    25% {
        transform: translateX(63px) translateY(80px);
        height: 40px;
    }
    50% {
        transform: translateX(126px) translateY(0px);
        height: 60px;
    }
    75% {
        transform: translateX(189px) translateY(80px);
        height: 40px;
    }
    100% {
        transform: translateX(250px) translateY(0px);
        height: 60px;
    }
}

.ball {
    background-color: #2386C8;
    border-radius: 25px;
    height: 50px;
    width: 50px;
}