/* Imports */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url('reset.css');
@import url('transform-examples.css');

/* General Selectors */
html {
	background-color: #ECF0F1;
	color: #2C3E50;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
}

h1 {
	font-size: 1.8em;
	font-weight: 700;
	line-height: 1.1em;
	margin-bottom: 15px;
}

h2 {
	font-size: 1.4em;
	font-weight: 400;
	margin: 40px 0 10px 0;
}

h3 {
	font-size: 1.2em;
	font-weight: 400;
	margin: 25px 0 15px 0;
}

p {
	margin: 10px 0;
	text-align: justify;
}

a {
	color: #2386C8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	font-size: 0.8em;
	vertical-align: super;
}

strong {
	font-weight: 400;
}

ul {
	margin-left: 15px;
}

li {
	list-style: disc inside;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  margin-left: 2px;
}

/* Navigation */
#navbar {
    background-color: #2386C8;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    height: 75px;
    width: 100%;
}

.navbar-wrapper {
    position: relative;
    height: 100%;
    margin: 0 auto;
    max-width: 905px;
}

#navbar-menu {
    float: right;
    height: 100%;
}

.navbar-menu-item {
    display: inline-block;
    height: 100%;
    list-style: none;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
}

.navbar-menu-item:hover {
    color: #eee;
    cursor: pointer;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}

.navbar-menu-item-text {
    line-height: 75px;
    color: #eee;
    text-decoration: none;
}

#title {
    font-size: 3em;
    font-weight: 600;
    line-height: 3.0em;
    text-align: center;
}

#navbar-title {
    position: absolute;
    top: 25px;
    left: 0;
    
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

#module-navbar {
    background-color: #ccc;
    height: 35px;
    width: 100%;
}

#module-navbar-wrapper {
    margin: 0 auto;
}

#module-navbar-section-title {
    display: inline-block;
    font-weight: 400;
    line-height: 35px;
}

#module-menu {
    display: inline-block;
    font-weight: 300;
}

.module-menu-item {
    color: #777;
    display: inline-block;
    line-height: 35px;
    padding: 0 3px;
}

.module-menu-item:hover {
    text-decoration: underline;
}

#module-section-active {
    color: #666;
    font-weight: 400;
}

#bottom-navigation {
    margin: 10px auto;
    width: 200px;
}

#bottom-active-circle {
    background-color: #2386C8;
}

.bottom-nav-circle {
    background-color: #999;
    border-radius: 15px;
    display: inline-block;
    height: 20px;
    margin: 5px;
    width: 20px;
}

.bottom-nav-circle:hover {
    background-color: #2079B4;
}

/* Custom Class Selectors */
.annotated-reference {
	margin: 10px 0;
	text-align: justify;
}

.button {
	background-color: #2386C8;
	border-radius: 3px;
	color: #fff;
	margin: 10px 0;
	padding: 5px 7px;
	text-decoration: none;
}

.button:hover {
	background-color: #2386C8;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.codepen-wrapper {
	margin: 15px 0;
}

.footnote {
	font-size: 0.9em;
}

.keyword{
	background-color: #C7DDEA;
	border-radius: 3px;
	font-family: 'Courier', serif;
	margin: 0 2px;
	padding: 2px;
}

.module-topic-column {
	display: inline-block;
	margin: 0 25px;
	width: 400px;
}

.spacer {
    clear: both;
}

#footer {
    margin: 0 auto;
    max-width: 905px;
}

#footer-wrapper {
    position: fixed;
    bottom: 0;
    
    background-color: #555;
    clear: both;
    color: #ccc;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

/* Ids */
#bottom-nav-wrapper {
    background-color: #ccc;
    position: fixed;
    bottom: 30px;
	clear: both;
    width: 100%;
}

#bottom-nav {
    max-width: 905px;
    margin: 0 auto;
}

.module-block-square {
    background-color: #fff;
    border-radius: 3px;
    height: 50px;
    margin: 10px auto;
    width: 50px;
}

#module-transform-square {
    border-radius: 25px;
}

.module-block-link:hover #module-transform-square{
    transform: skewX(-12deg);
}

.module-block-link:hover #module-animation-square{
    -moz-animation: ANIMATE_SQUARE 1.5s ease;
    -o-animation: ANIMATE_SQUARE 1.5s 2 ease;
    -webkit-animation: ANIMATE_SQUARE 1.5s ease;
    animation: ANIMATE_SQUARE 1.5s ease;
}

@-webkit-keyframes ANIMATE_SQUARE {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#module {
    clear: both;
	max-width: 905px;
	margin: 150px auto 90px auto;
}

#module-index-link {
	margin-top: 10px;
}

#module-sample {
    display: inline-block;
    float: right;
    height: 150px;
    padding-left: 19px;
    width: 328px;
}

#module-sample-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#module-topics {
	clear: both;
	margin: 20px 0;
}

#next-button {
	float: right;
}

#previous-button {
	float: left;
}

.button-link {
    height: 60px;
    line-height: 60px;
}

/* Page-Specific */
#transforms-ball {
    background-color: #2386C8;
    border-radius: 5px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 40px;
    width: 50px;
}

#transforms-ball:hover {
    -moz-animation: TRANSFORM 1.5s alternate 2 ease;
    -o-animation: TRANSFORM 1.5s alternate 2 ease;
    -webkit-animation: TRANSFORM 1.5s alternate 2 ease;
    animation: TRANSFORM 1.5s alternate 2 ease;
}

@-webkit-keyframes TRANSFORM {
    0% {
        transform: translateX(0) rotateZ(0) scale(1);
    }
    100% {
        transform: translateX(-250px) rotateZ(360deg) scale(2);
    }
}

#module-topics {
    margin: 15px 0;
}

.module-block {
    background-color: #C7DDEA;
    border-radius: 75px;
    display: inline-block;
    height: 131px;
    position: relative;
    width: 128px;
}

.next-section-link {
    border: 3px solid #2386C8;
}

.module-block-separator {
    background-color: #bbb;
    display: inline-block;
    height: 20px;
    margin: 20px 0;
    width: 20px;
}

.module-block:hover {
    color: #fff;
    background-color: #6CADD7;
}

.module-section-block-link {
    color: inherit;
    text-decoration: none;
}

.module-block-title {
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.module-block-desc {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 5px 10px;
    text-align: center;
    width: calc(100%-20px);
}

.next-section-block, .next-section-block:hover {
    background-color: #2386C8;
    color: #eee;
}

#navigation-wrapper {
    position: fixed;
    clear: both;
    top: 0;
    width: 100%;
    z-index: 2;
}

#sidebar-quicklinks {
    left: 0;
    position: fixed;
    top: 150px;
}

.quicklink {
    background-color: #A3C9E2;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #2386C8;
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.quicklink:hover {
    cursor: pointer;
    font-weight: 400;
}

#top-spacer {
    height: 120px;
    width: 100%;
}

.challenge-block {
    background-color: #cceac7;
    border-radius: 5px;
    font-size: 0.8em;
    margin: 15px 30px;
    padding: 15px;
}

.challenge-block h2 {
    margin-top: 0;
}

.module-block-link-inactive {
    background-color: #ccc;
    color: #666;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 5px;
    min-width: 190px;
    padding: 10px;
    width: 20%;
}

.module-block-link-inactive:hover {
    text-decoration: none;
}

.module-topic-link {
    display: inline-block;
    background-color: #2386C8;
    height: 10px;
    margin-top: 50px;
    width: 5px;
}

.module-block-link {
    background-color: #2386C8;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 5px;
    min-width: 190px;
    padding: 10px;
    width: 20%;
}

.module-block-link:hover {
    background-color: #2079B4;
    cursor: pointer;
    text-decoration: none;
}

.module-title {
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
}