@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url("reset.css");

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* HTML Element Override */
html {
	height: 100%;
	min-height: 370px;
	width: 100%;
	min-width: 350px;

	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	line-height: 1.4em;

	background-color: #BEC4CC;
	color: #4d4d4d;
}

p {
	font-size: 1.1em;
	line-height: 1.4em;
	text-align: justify;
}

body {
  position: relative;
  
	width: 100%;
	height: 100%;
}

a {
	color: #1573a3;
	text-decoration: none;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  margin-bottom: 0.5em;
}

ul {
  font-size: 0.9em;
  line-height: 1.2em;
  margin-top: 0.5em;
}

li {
  list-style-position: inside;
  list-style: none;
  margin-bottom: 4px;
  margin-left: 20px;
}

.bold {
  font-weight: 700;
}


/* Home Page */
#homepage {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#site-title {
  font-family: 'Lato';
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 6px;
  margin-left: 20px;
  text-align: center;
  vertical-align: bottom;
}

#site-title .bold {
  font-weight: 400;
  margin-left: 4px;
}

#site-subtitle {
  font-size: 1.6em;
  margin: 0 auto;
  text-align: right;
}

#content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  height: auto;
  margin: 0 auto;
  max-width: 960px;
}

#content {
  display: inline-block;
  position: relative;
}

/* Social Media */
#connections-wrapper {
  display: inline-block;
  float: right;
  margin-top: 6px;
  width: 224px;
}

.link-bubble {
  color: #86898D;
  display: inline-block;
  font-size: 1.3em;
  line-height: 45px;
  height: 45px;
  margin: 10px 4px;
  text-align: center;
  text-decoration: none;
  width: 45px;
}

.link-bubble:active {
  background-color: #B0B5BC;
  border-radius: 24px;  
}

#github:hover {
  color: #000;
}

#linkedin:hover {
  color: #0077b5;
}

#twitter:hover {
  color: #55acee;  
}

#email:hover {
  color: #26547c; 
}

/* Logo */
#logo {
  height: 144px;
  width: 82px;
}

@media all and (max-width: 1120px) {
  #logo {
    display: block;
    margin: 0 auto 20px auto;
  }
  
  #connections-wrapper {
    position: absolute;
    left: calc(50% - 112px);
    
    float: none;
    margin: 6px auto;
  }
  
  #site-title {
    margin-left: 0;
  }
  
  #site-subtitle: {
    text-align: center;
  }
}

@media all and (max-width: 720px) {
  #site-title {
    font-size: 2.5em;
  }
  
  #site-subtitle {
    font-size: 1em;
    text-align: center;
  }
}