@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url("reset.css");


/* HTML Element Override */
html {
	height: 100%;
	min-height: 370px;
	width: 100%;
	min-width: 350px;

	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	line-height: 1.4em;

	background-color: #ddd;
	color: #4d4d4d;
}

p {
	font-size: 1.1em;
	line-height: 1.4em;
	text-align: justify;
}

body {
	width: 100%;
	height: 100%;
}

a {
	color: #0d8993;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clearing-block {
	clear: both; 
	height: 10px;
}


/* Page Specifications */
.page {
	clear: both;
	min-height: 100%;
	overflow: none;
	position: relative;
	width: 100%;
}

.page-desc {
	font-size: 1.3em;
}

.page-content-wrapper {
	height: 60%;
	max-width: 1200px;

	padding-top: 150px;
	width: 80%;
	margin: 0 auto;
}

#contact {
	background-color: #86a0bc;
}

#about {
	background-color: #75b2b7;
}


/* Columns */
.column {
	display: inline-block;
}

.one-third {
	width: 30%;
}

.two-thirds {
	width: 60%;
}

.float-right {
	float: right;
}

/* Text and Font */
.title-text {
	font-size: 3.5em;
}

.page-title-text {
	font-size: 2em;
	margin: 5px auto;
}

.page-content-text {
	font-size: 1em;
	line-height: 1.3em;
}

.bold {
	font-weight: 400;
}

#work-title {
	width: 250px;
}

.back-up-arrow {
	background-image: url("../imgs/back-up-arrow.svg"), none;
	bottom: 15px;
	height: 50px;
	position: absolute;
	right: 15px;
	width: 50px;
}

.back-up-arrow:hover {
	background-image: url("../imgs/back-up-arrow_hover.svg"), none;
	bottom: 15px;
	height: 50px;
	right: 15px;
	width: 50px;
}


/* Home Page */
#main-logo {
	background-image: url("../imgs/clidwin_logo.svg"), none;
	width: 250px;
	height: 220px;
	margin: 0 auto 10px auto;
}

#name-wrapper {
	width: 430px;
	margin: 0 auto;
}

#site-description {
	max-width: 475px;
	margin: 10px auto;
}

#home-navigation {
	font-size: 1.1em;
	color: #4d507b;
}

#home-content {
	position: absolute;
	top: 50%;
	left: 50%;

	margin-top: -212px;
	margin-left: -225px;
}


/* About Page */
.about-notion {
	clear: both;
	margin: 25px 0;
	min-height: 125px;
}

.about-notion-image {
	display: inline-block;
	float: left;
	height: 125px;
	margin-right: 25px;
	width: 125px;
}

.about-notion-title {
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 5px;
}

#notion-image-1 {
	background-image: url("../imgs/notion-interaction.svg");
}

#notion-image-2 {
	background-image: url("../imgs/notion-innovation.svg");
}

#notion-image-3 {
	background-image: url("../imgs/notion-inspiration.svg");
}


/* Work Page */
.sample-block {
	display: inline-block;
	margin-top: 40px;
	padding: 0 10px;
	width: 375px;
}

.sample-block-group {
	margin: 0 auto;
	max-width: 1195px;
}

.sample-block-image {
	background-color: #7f7f7f;
	border: 5px solid #7f7f7f;
	border-radius: 10px;
	height: 200px;
	margin: 0 auto 10px auto;
	width: 80%;
}

.sample-block-title {
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
}

.sample-block-context{
	color: #7f7f7f;
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 0 auto;
	text-align: center;
}

.sample-block-desc {
	line-height: 1.4em;
	margin: 0 auto;
	text-align: justify;
}

#work-1201 {
	background-image: url('../imgs/work-1201.png');
}

#work-dorazio {
	background-image: url('../imgs/work-dorazio.png');
}

#work-kohl {
	background-image: url('../imgs/work-kohl.png');
}


/* Colors */
.blue {
	color: #30659B;
}


/* Form */
label {
	display: block;
	min-height: 25px;
	margin-bottom: 20px;
}

label.span {
	text-align: right;
}

input {
	height: 25px;
}

textarea {
	height: 150px;
}

textarea, input {
	border: 1px solid #8d8d8d;
	border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	float: right;

	resize:none;

	text-align: middle;

	width: calc(100% - 90px);
}

textarea:focus, input:focus {
	border: 2px solid #30659B;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#form-message {
	height: 152px;
}

#error {
	color: #96011a;
	float: left;
	font-weight: 400;
	margin-top: 5px;
}

.button {
	border: 2px solid #30659B;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	background-color: #30659B;
	color: #ddd;

	font-size: 0.9em;
	font-weight: 300;

	width: 80px;
	height: 30px;
}


/* Miscellaneous */
.content-center-align {
	text-align: center;
}

.text-block {
	margin: 10px 0;
}


/* Social Media */
#social-media-bar {
	margin: 20px auto;
	width: 385px;
}

.social-button{
	display: inline-block;
	width: 60px;
	height: 60px;
}

#behance {
	background-image: url("../imgs/social_buttons.png"), none;
	background-position: 0 0;
}

#behance:hover {
	background-position: 120px 0;
}

#behance:active {
	background-position: 60px 0;
}

#github {
	background-image: url("../imgs/social_buttons.png"), none;
	background-position: 0 240px;
}

#github:hover {
	background-position: 120px 240px;
}

#github:active {
	background-position: 60px 240px;
}

#google-plus {
	background-image: url("../imgs/social_buttons.png"), none;
	background-position: 0 300px;
}

#google-plus:hover {
	background-position: 120px 300px;
}

#google-plus:active {
	background-position: 60px 300px;
}

#linkedin {
	background-image: url("../imgs/social_buttons.png"), none;
	background-position: 0 180px;
}

#linkedin:hover {
	background-position: 120px 180px;
}

#linkedin:active {
	background-position: 60px 180px;
}

#pinterest {
	background-image: url("../imgs/social_buttons.png"), none;
	background-position: 0 120px;
}

#pinterest:hover {
	background-position: 120px 120px;
}

#pinterest:active {
	background-position: 60px 120px;
}

#twitter {
	background-image: url("../imgs/social_buttons.png"), none;
	background-position: 0 60px;
}

#twitter:hover {
	background-position: 120px 60px;
}

#twitter:active {
	background-position: 60px 60px;
}


/* Mid-size screen */
@media all and (max-width: 1249px) {
	.column {
		width: 100%;
	}

	.page-content-wrapper {
		padding-top: 100px;
	}

	#social-media-bar {
		max-width: 385px;
	}

	.social-button{
		margin: 0 0;
	}
}


/* Small Screen Alterations */
@media all and (max-width: 499px), all and (max-height: 499px) {
	.page {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.page-content-wrapper {
		padding-top: 50px;
	}

	#name-wrapper {
		max-width: 300px;
	}

	.content-center-align {
		max-width: 300px;
		margin: 0 auto;
	}

	#home-content {
		position: relative;
		left: 0;
		top: 0;

		margin: 0 auto;
	}

	.sample-block {
		width: 325px;
	}

	#social-media-bar {
		width: 250px;
	}

	.social-button{
		margin: 5px 10px;
	}
}

/* Small Screen Alterations */
@media all and (max-width: 499px), all and (max-height: 499px) {


/* Small Screen Alterations */
@media all and (max-width: 349px), all and (max-height: 324px) {
	.sample-block {
		width: auto;
	}
}